/* 

	Unicode Shape Preprocessor Library

*/

	
	// Squares
	$ushape_square: "\25A0";
	$ushape_square_outline: "\25A1";
	
	$ushape_square_small: "\25AA";
	$ushape_square_small_outline: "\25AB";
	
	$ushape_square_large: "\25FC";
	$ushape_square_large_outline: "\25FB";
	
	
	// Rectanges
	$ushape_rectangle: "\25AC";
	$ushape_rectangle_outline: "\25AD";
	
	$ushape_rectangle_vertical: "\25AE";
	$ushape_rectangle_vertical_outline: "\25AF";

	
	// Circles
	$ushape_circle: "\25CF";
	$ushape_circle_outline: "\25CB";
	$ushape_bullseye: "\25CE";
	$ushape_fisheye: "\25C9";
	
	
	// Triangles
	$ushape_triangle_up: "\25B2";
	$ushape_triangle_up_outline: "\25B3";
	$ushape_triangle_up_small: "\25B4";
	
	$ushape_triangle_right: "\25B6";
	$ushape_triangle_right_outline: "\25B7";
	$ushape_triangle_right_small: "\25B8";
	
	$ushape_triangle_down: "\25BC";
	$ushape_triangle_down_outline: "\25BD";
	$ushape_triangle_down_small: "\25BE";
	
	$ushape_triangle_left: "\25C0";
	$ushape_triangle_left_outline: "\25C1";
	$ushape_triangle_left_small: "\25C2";
	

	// Arrows
	$ushape_arrow_right: "\2192";
	$ushape_arrow_left: "\2190";
	$ushape_arrow_up: "\2191";
	$ushape_arrow_down: "\2193";
	$ushape_arrow_double_horizontal: "\2194";
	$ushape_arrow_double_vertical: "\2195";
	
	$ushape_arrow_round_clockwise: "\21BB";
	$ushape_arrow_round_counter_clockwise: "\21BA";


	// Misc. Characters
	$ushape_interroband: "\203D";
	$ushape_reference_mark: "\203B";
	$ushape_pilcrow: "\00B6";
	$ushape_pilcrow_curved: "\2761";
	$ushape_midline_dot: "\00B7";
	$ushape_micro: "\00B5";
	

	// Icons
	$ushape_scissors: "\2702";
	$ushape_scissors_2: "\2704";
	$ushape_airplane: "\2708";
	$ushape_envelope: "\2709";
	$ushape_telephone: "\2706";
	$ushape_writing: "\270D";
	$ushape_pencil: "\270E";


	// Special Shapes
	$ushape_bullet_leftwards: "\204C";
	$ushape_bullet_rightwards: "\204D";
	$ushape_flueron: "\2767";
	$ushape_flueron_heart: "\2766";
	$ushape_heart: "\2764";
	
	
	// Checks and X's
	$ushape_check: "\2713";
	$ushape_check_hand: "\2714";
	$ushape_x_hand: "\2717";
	$ushape_x_hand_heavy: "\2718";
	
	
	// Stars
	$ushape_star: "\272D";
	$ushape_star_outline: "\272B";
	$ushape_star_circle: "\272A";
	$ushape_star_david: "\2721";



/*
	For more unicode geometric shapes, visit: 
		- http://en.wikipedia.org/wiki/List_of_Unicode_characters
		- http://jrgraphix.net/r/Unicode/2190-21FF
		- http://www.alanwood.net/unicode/arrows.html

*/